#grid-container {
  display:flex;
  flex-flow: row wrap;
  
}


.favourite-bg-1 {
  height: 300px;
  background-image: url(../img/favourites/indonesia.png);
  flex: 33%;
  }
  
.favourite-bg-2 {
    background-image: url(../img/favourites/australia.png);
    flex: 33%;
  }
  
.favourite-bg-3 {
    background-image: url(../img/favourites/switzerland.png);
    flex: 33%;
  }
  
  